@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply selection:bg-secondary-500 selection:text-white;
	}

	body {
		@apply font-mulish;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-zilla;
	}

	button {
		-webkit-tap-highlight-color: transparent;
	}
}

// Config
@import './variables';
@import './mixins';

// Custom Utilities
@import './utils';

// Library Overrides
@import './lib';

// Components
@import './components';

// Pages
@import './pages/home';
